.hover:hover{
	opacity: 0.8;
}

.uk-inline {
  width: 100%;
}

@media screen and (max-width: 640px) {
    .logo .uk-navbar-left{
    	visibility: hidden;
    }
    .uk-flex {
        flex-direction: column;
    }
    html {
  		font-size: 3.4vw;
    }
}